.container {
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-direction: column;
}

#question_text {
    font-size: 30px;
}

.alx_droppable { 
    width: 110px; height: 80px; padding: 0.0em; float: left;
    margin: 22px 5px 10px 0; 
    background-color: blue;
 }

 #mainitem {
    position: relative;
 }

 .alx_hint {
     display: none;
 }

 #feedback_img {
    display:none;
    position: absolute;
    z-index: 100;
 }

  